<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="upload-area">
    <label>上传示例：</label>
    <input type="file" name="file" id="file">
</div>
<a href="javascript:void(0);" class="submit">提交生成</a><br/>
<a href="javascript:void(0);" class="downloadUrl" target="_blank">下载链接</a>
<table class="result">
    <tr>
        <th>姓名</th>
        <th>联系方式</th>
    </tr>
</table>
<script type="text/javascript" src="js/lib/jquery.js"></script>
<script type="text/javascript" src="js/lib/md5.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
